body {
    font-family: monospace;  
    /* "Droid Sans Mono", "Courier New", monospace; */
    background-color: black;
    color: rgb(2, 209, 2);
    font-size: 12px;    
}

p {
    margin-bottom:0px;
}

.terminal-box {
    background: #000;
    color: rgb(2, 209, 2);
    padding: 10px;
}

#term_demo {
    width: 95%;
    color: rgb(2, 209, 2) important !;
}

.terminal-output {
    color: rgb(2, 209, 2);
}

.terminal {
    padding: 0px;
}